In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sklearn

In [2]:
data = np.genfromtxt("../../data/data.dat")
data = np.delete(data, 0, 0)
df = pd.DataFrame(data, columns = ['ustat','alph1','alph2', 'beta', 'chi'])
print(df.head())
print(df.shape[0])

      ustat     alph1     alph2  beta       chi
0  8.408213  2.344511  2.344511  60.0  1.094479
1  7.006844  2.344511  2.344511  60.0  0.840347
2  5.255133  2.344511  2.344511  60.0  0.772829
3  3.503422  2.344511  2.344511  60.0  0.811944
4  2.102053  2.344511  2.344511  60.0  0.844523
404

In [12]:
# Feature Engineering

In [13]:
# CHI

# small chi = 0
# large chi = 1
labels = []
for i in df['chi']:
    if i < 3:
        labels.append(0)
    else:
        labels.append(1)
        
df['chi'] = labels

In [14]:
# USTAT

# small ustat = 0
# large ustat = 1

labels = []
for i in df['ustat']:
    if i < 3:
        labels.append(0)
    else:
        labels.append(1)
        
df['ustat'] = labels

In [15]:
# ALPH1

# small alph1 = 0
# medium alph1 = 1
# large alph1 = 2

labels = []
for i in df['alph1']:
    if i < 1:
        labels.append(0)
    elif i >= 1 and i < 2:
        labels.append(1)
    else:
        labels.append(2)
        
df['alph1'] = labels

In [16]:
# ALPH2

# small alph2 = 0
# large alph2 = 1

labels = []
for i in df['alph2']:
    if i < 2:
        labels.append(0)
    else:
        labels.append(1)
        
df['alph2'] = labels

In [17]:
# BETA

# small beta = 0
# large beta = 1
labels = []
for i in df['beta']:
    if i < 50:
        labels.append(0)
    else:
        labels.append(1)
        
df['beta'] = labels

In [18]:
df

     ustat  alph1  alph2  beta  chi
0        1      2      1     1    0
1        1      2      1     1    0
2        1      2      1     1    0
3        1      2      1     1    0
4        0      2      1     1    0
..     ...    ...    ...   ...  ...
399      1      2      1     0    1
400      1      2      1     0    1
401      1      2      1     0    1
402      1      1      1     0    1
403      1      2      1     0    1

[404 rows x 5 columns]

In [19]:
#df.to_csv("../../data/day02.csv", index = False)