In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import sklearn

In [2]:
data = np.genfromtxt("../../data/data.dat")
data = np.delete(data, 0, 0)
df = pd.DataFrame(data, columns = ['ustat','alph1','alph2', 'beta', 'chi'])
df.head()

      ustat     alph1     alph2  beta       chi
0  8.408213  2.344511  2.344511  60.0  1.094479
1  7.006844  2.344511  2.344511  60.0  0.840347
2  5.255133  2.344511  2.344511  60.0  0.772829
3  3.503422  2.344511  2.344511  60.0  0.811944
4  2.102053  2.344511  2.344511  60.0  0.844523

In [17]:
# Option 1: Let's see if we can restructure labels. We will take a look at unsupervised learning algorithms 
# to find groups in our data.